.component {
  align-items: center;
  background: #222;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  color: #eee;
  display: flex;
  height: 32px;
  justify-content: space-between;
  padding: 0 10px;
}
